.titlesContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.agencyImage{
    margin-bottom: 25px;
}



.oagenciji{
   height: auto;
    min-height: 60vh;
    display: flex;
    .contentBlock{
        margin-top: 5vh;
        margin-bottom: 5vh;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        .content{
            max-width: 50%;
            h2{
                margin-bottom: 2vh;
            }
            button{
                margin-top: 2vh;
                min-width: 200px;
                min-height: 45px;
                margin-left: 0px;
                a{
                    color: #fff
                }
            }
            .buttonLinks{
                display: flex;
                flex-direction: row;
            }
        }
    }
}

.agencySection{
    margin-top: 5vh;
}

@media only screen and (max-height: 800px){
    .oagenciji{
        .contentBlock{
            .agencyImage{
                width: 40%;
                height: 40%;
            }
        }}
}

@media only screen and (max-width: 960px){
    .oagenciji{
        .contentBlock{
            .agencyImage{
                width: 40%;
                height: 40%;
            }
        }}
}

@media only screen and (max-width: 700px){
    .oagenciji{
        .contentBlock{
            flex-direction: column-reverse;
            .content{
                max-width: 100%;
            }
            .agencyImage{
                width: 60%;
                height: 60%;
            }
        }}
        
}

@media only screen and (max-width: 700px){
    .oagenciji{
    .RankContentBlock{
        flex-direction:column;
    }
    }
}

@media only screen and (max-width: 500px){
    .oagenciji{
        .contentBlock{
            .agencyImage{
                width: 80%;
                height: 80%;
            }
        }}
}