@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins-Regular.ttf");
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins";
  text-decoration: none; 
  color: #000000;
}

:root {
  --text-color: #000000; /* Default text color */
  --bg-color: #fff; /* Default background color */
}

.dark-mode {
  --text-color: #000000; /* Text color for dark mode */
  --bg-color: #F5F4F4; /* Background color for dark mode */
}


body {
  overflow-x: hidden;

}

.all{
  overflow: hidden;
}

section{
  padding-top: 15vh;
}

@media (max-width: 1000px) {
  section{
    padding-top: 10vh;
  }
}

@media (max-width: 600px) {
  section{
    padding-top: 2vh;
  }
}


@media (prefers-color-scheme: dark) {
  body {
    color: var(--text-color);
    background-color: var(--bg-color);
  }
}

/* Light mode styles */
@media (prefers-color-scheme: light) {
  body {
    color: var(--text-color);
    background-color: var(--bg-color);
  }
}


